<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: aliceblue;
    }
</style>
<body>
    <h2>Firstname: {{ cm.firstname }}</h2> 
    <h2>Lastname: {{ cm.lastname }}</h2>
    <h2>Username: {{ cm.username }}</h2>
    <h2>Password: {{ cm.password }}</h2>
    <h2>Email: {{ cm.email }}</h2>
    <h2>Age: {{ cm.age }}</h2>
    <h2>Phonenumber: {{ cm.phonenumber }}</h2>
</body>
</html>